<!-- project/show_all_exercises.html -->
<!-- Author: William De Rocco (wderocco@bu.edu) -->
<!-- Description: template to show all exercises -->

{% extends 'project/base.html' %}
{% block content %}
<html>
<h1>Select Your Exercises!</h1>
<head><style>
    table, th, td {
        border: 1px solid black;
        margin: auto;
        table-layout: auto;
        width: 70%;
    }
</style></head>
<body>

<table>
    <b>
        <tr>
            <th>Exercise Name</th>
            <th>Description</th>
            <th>Instructions</th>
            <th>Image</th>
            <th>Recommended Reps</th>
            <th>Muscle Groups</th>
            <th>Action</th>
        </tr>    
        {% for exercise in exercises %}
        <tr>
            <td>{{exercise.exercise_name}}</td>
            <td>{{exercise.description}}</td>
            <td>{{exercise.instructions}}</td>
            <td><img src="{{exercise.image}}" style="max-width: 200;"></td>
            <td>{{exercise.recommended_reps}}</td>
            <td>{{exercise.muscle_groups}}</td>
            <td>
                <a href="{% url 'update_exercise' exercise.pk %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Update</a>
                <!-- <a href="{% url 'update_exercise' exercise.pk %}">Update</a></br> -->
            </td>        
        </tr>
        {% endfor %}
</table>




<h3>Don't see your favorite exercise?</h3>
<div class="alert alert-primary" role="alert">
    Click <a href="{% url 'create_exercise' %}">here</a> to add an exercise.
  </div>
<!-- <a href="{% url 'create_exercise' %}">Create Exercise</a> -->

{% endblock %}

</body>
</html>