<!-- project/update_user_form.html -->
<!-- Author: William De Rocco (wderocco@bu.edu) -->
<!-- Description: template update a user (form) -->


{% extends 'project/base.html' %}
{% block content %}
<head><style>
    form {
        display: inline-block;
      }
</style></head>

<h1>Edit this profile</h1>

<form method="POST">
    {% csrf_token %}
    <!-- display the form context variable -->
    <table>
        {{form.as_table}}
        <tr>
            <td></td> <!-- empty! -->
            <td>
                <input type="submit" value="Update">
            </td>
        </tr>
    </table>
</form>

{% endblock %}