<!-- delete_status_form.html -->

{% extends 'mini_fb/base.html' %}
{% block content %}

<h2>Are you sure you want to delete this status message?</h2>
<form method='POST'>
    {% csrf_token %}
    <input type='submit' name="yes" value="yes">
</form>
<form method='GET' action="{% url 'show_profile_page' st_msg.profile.pk %}">
    {% csrf_token %}
    <input type='submit' name="no" value="no">
</form>




<table>
<tr>
    <td>
        {{st_msg.profile.timestamp.pk}}   
    </td>
    <td>
        {{profile.get_status_message.message.pk}} </br>
        {% if profile.get_status_message.image %}
        <img src='{{profile.get_status_message.image.url}}' style='max-width: 200;'>
        {% endif %}
    </td>
</tr>
</table>


{% endblock %}