<!-- mini_fb/show_profile_page.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<b>{{profile.first_name}} {{profile.last_name}}</br>
<img src="{{profile.image_url}}" style="max-width: 400;"></br>

<a href="{% url 'update_profile' profile.pk %}">Edit this profile</a>
<hr>
<table>
    <b>
        <tr>
            <th>Time</th>
            <th>Message</th>
        </tr>    
    </b>
    {% for messages in profile.get_status_messages %}
        <tr>
            <td>{{messages.timestamp}}</td>
            <td>{{messages.message}}</td>
        </tr>
    {% endfor %}

{% endblock %}