<!-- mini_fb/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}

<h1>Showing All Profiles</h1>

<table>
    <b>
        <tr>
            <th>Name</th>
            <th>Hometown</th>
            <th>Email Address</th>
            <th>Image</th>
        </tr>    
    </b>
    {% for profile in profiles %}
        <tr>
            <td><a href="{% url 'show_profile_page' profile.pk %}">{{profile.first_name}} {{profile.last_name}}</a></td>
            <!-- <th>{{profile.last_name}}</th> -->
            <td>{{profile.city}}</td>
            <td>{{profile.email_address}}</td>
            <td><img src="{{profile.image_url}}" style="max-width: 200;"></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}