<!-- mini_fb/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}

<h1>Showing All Profiles</h1>

<table>
    <b>
        <tr>
            <th>Name</th>
            <th>Hometown</th>
            <th>Email Address</th>
            <th>Image</th>
        </tr>    
    </b>
    {% for profile in profiles %}
        <tr>
            <th><a href="{% url 'show_profile_page' profile.pk %}">{{profile.first_name}} {{profile.last_name}}</a></th>
            <!-- <th>{{profile.last_name}}</th> -->
            <th>{{profile.city}}</th>
            <th>{{profile.email_address}}</th>
            <th><img src="{{profile.image_url}}" style="max-width: 200;"></th>
        </tr>
    {% endfor %}
</table>

{% endblock %}