<!--  pages/base.html -->
<html>
    <head>
        <title>Our Webpages</title>
    </head>
    <body>
    <!-- navigation links -->
    <header>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'about' %}">About</a> |
        <a href="{% url 'schedule' %}">Schedule</a>

    </header>
    <!--  this content block will be filled in by another template
          which extends this base.html page. -->
    {% block content %}
    {% endblock %}
    <hr>
    This page was brought to you by wderocco@bu.edu.
    
    </body>
</html>